@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
:root {
  /* headings */
  --h1-size: 40px;
  --h2-size: 26px;
  --h3-size: 20px;
  --h4-size: 22px;
  --h5-size: 18px;
  --h6-size: 16px;
  /* paragraphs */
  --para1-size: 16px;
  --para2-size: 14px;
  --para3-size: 12px;
  --para4-size: 10px;
}

@media only screen and (max-width: 992px) {
  :root {
    /* headings */
    --h1-size: 29px;
    --h2-size: 20px;
    --h3-size: 17px;
    --h4-size: 16px;
    --h5-size: 16px;
    --h6-size: 16px;
    /* paragraphs */
    --para1-size: 14px;
    --para2-size: 12px;
    --para3-size: 10px;
    --para4-size: 8px;
  }
  .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

/* headings */
/* paragraphs */
/* colors */
/* buttons */
body {
  font-family: "Poppins", sans-serif;
}

/* ========global in all projects */
h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);
}

.fs14 {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.lighter {
  opacity: 0.6;
}

.size-16 {
  font-size: 16px;
}

.size-14 {
  font-size: 14px;
}

.c-primary {
  color: #d9be02 !important;
}

.c-secondary {
  color: #002367;
}

.c-dark {
  color: #1f1f1f;
}

.c-white {
  color: white !important;
}

*:focus {
  outline: none !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bold {
  font-weight: bold;
}

.fs16 {
  font-size: 18px;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.bg-image.big {
  width: 150%;
  left: -67px;
}

body {
  overflow-x: hidden;
}

.bg-white {
  background-color: white;
}

.semiBold {
  font-weight: 600;
}

.lh21 {
  line-height: 21px;
}

.lh18 {
  line-height: 18px;
}

.clean-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.italic,
.text-italic {
  font-style: italic;
}

.mh-100vh {
  min-height: 100vh;
}

.mw {
  --w: 500;
  max-width: calc(var(--w) * 1px);
}

.c-light {
  color: #727272 !important;
}

.padding-top-for-menu {
  padding-top: 120px;
}

.font-light {
  font-weight: 300;
}

/* =======end of global in all projects ================ */
body {
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-title {
  color: #d9be02;
}

.left-section-title {
  color: #d9be02;
  font-size: 25px;
  margin: 0;
  position: relative;
}

.left-section-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 8px;
  left: 15%;
  background-color: #d9be02;
  border-radius: 50%;
}

.left-section-title::before {
  content: "";
  width: 15%;
  height: 1px;
  margin-right: 32px;
  display: inline-block;
  background-color: #d9be02;
  -webkit-transform: translateY(-8.5px);
          transform: translateY(-8.5px);
}

.right-section-title {
  color: #d9be02;
  font-size: 25px;
  margin: 0;
  position: relative;
  text-align: right;
  padding-right: calc(32px + 15%);
}

.right-section-title::before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 8px;
  right: 15%;
  background-color: #d9be02;
  border-radius: 50%;
}

.right-section-title::after {
  content: "";
  width: 15%;
  height: 1px;
  margin-left: 32px;
  display: inline-block;
  background-color: #d9be02;
  -webkit-transform: translateY(-8.5px);
          transform: translateY(-8.5px);
  position: absolute;
  right: 0px;
  display: block;
  top: 22px;
  left: unset;
}

.card5, .card6, .card7 {
  position: relative;
  overflow: hidden;
  max-width: 357px;
  border-radius: 6px;
  margin: auto;
}

.card5:hover img, .card6:hover img, .card7:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card5 img, .card6 img, .card7 img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 347px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card5 .details, .card6 .details, .card7 .details {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 10px 10px 10px 10px;
  z-index: 3;
  width: 100%;
  padding-top: 110px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(to bottom, transparent, black);
}

.card5 .details h3, .card6 .details h3, .card7 .details h3 {
  color: #ffffff;
  font-size: var(--para1-size);
  margin: 0;
  letter-spacing: 2.38px;
  font-weight: 500;
  padding-right: 6px;
}

.card5 .details p, .card6 .details p, .card7 .details p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

.card5 .details a, .card6 .details a, .card7 .details a {
  color: #d9be02;
  font-size: 14px;
}

.main-owl .owl-stage-outer, .secondary-owl .owl-stage-outer {
  z-index: 1;
}

.main-owl .owl-nav, .secondary-owl .owl-nav {
  position: absolute;
  top: 50%;
  width: 115%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-owl .owl-nav [class*="owl-"], .secondary-owl .owl-nav [class*="owl-"] {
  width: 50px;
  height: 50px;
  border: solid 1px #d9be02 !important;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-owl .owl-nav [class*="owl-"]:hover, .secondary-owl .owl-nav [class*="owl-"]:hover {
  background-color: #d9be02;
}

.main-owl .owl-nav [class*="owl-"]:hover img, .secondary-owl .owl-nav [class*="owl-"]:hover img {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.main-owl .owl-nav .owl-next img, .secondary-owl .owl-nav .owl-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
  .main-owl .owl-nav, .secondary-owl .owl-nav {
    top: 114%;
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: unset;
  }
  .main-owl .owl-nav [class*="owl-"], .secondary-owl .owl-nav [class*="owl-"] {
    margin: 0 12px;
  }
}

.secondary-owl .owl-nav {
  position: absolute;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: unset;
  right: 11px;
  left: unset;
  top: 104%;
}

.secondary-owl .owl-nav [class*="owl-"] {
  margin: 0 12px;
}

.section {
  padding-top: 70px;
  padding-bottom: 40px;
}

.padding-top-menu {
  padding-top: 220px;
}

.ligne-both-sides-title {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ligne-both-sides-title .title {
  color: #ffffff;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

.ligne-both-sides-title .title .special {
  color: #d9be02;
  font-weight: 200;
}

@media screen and (max-width: 992px) {
  .ligne-both-sides-title .title {
    font-size: 25px;
  }
}

.ligne-both-sides-title .ligne-before,
.ligne-both-sides-title .ligne-after {
  height: 1px;
  background-color: #d9be02;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.ligne-both-sides-title .ligne-before::after,
.ligne-both-sides-title .ligne-after::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #d9be02;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}

.ligne-both-sides-title .ligne-before {
  margin-right: 30px;
}

.ligne-both-sides-title .ligne-after {
  margin-left: 30px;
}

.ligne-both-sides-title .ligne-after::after {
  left: 0;
}

.primary-banner .banner-image {
  height: 428px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.primary-banner p {
  margin-top: -140px;
  max-width: 848px;
  background-color: #d9be02;
  padding: 43px 39px;
  position: relative;
  border-radius: 6px;
}

.text1 {
  color: #ffffff;
  font-weight: 200;
}

.card5.details-hidden .details, .details-hidden.card6 .details, .details-hidden.card7 .details {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.card5.details-hidden:hover .details, .details-hidden.card6:hover .details, .details-hidden.card7:hover .details {
  opacity: 1;
}

.image1 {
  height: 282px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: hidden;
  border-radius: 8px;
}

.image1:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1;
}

.card6 {
  height: 230px;
  max-width: 230px;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .card6 {
    max-width: 330px;
  }
}

.card6 .details {
  padding: 14px;
}

.card6 .details h3 {
  font-size: 13px;
}

.card6 .details::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 8px;
  right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card7 {
  height: 412px;
  width: 100%;
  max-width: unset;
}

.card7 .details {
  padding: 14px;
}

.card7 .details h3 {
  font-size: 13px;
}

.card7 .details::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 8px;
  right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card7 img {
  height: 100%;
}

.products-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .products-outer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact-form-container {
  padding: 22px 55px;
  background-color: black;
  -webkit-box-shadow: 0px -1px 15px #00000038;
          box-shadow: 0px -1px 15px #00000038;
  -webkit-box-shadow: 0px 1px 15px #d9be0221;
          box-shadow: 0px 1px 15px #d9be0221;
}

.contact-form-container .button2 {
  width: 100%;
  max-width: unset;
}

.title2 {
  color: #d9be02;
  font-weight: 200;
  font-size: 20px;
}

.title2.small {
  font-size: 16px;
}

.social-media-icon {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 8px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.social-media-icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.social-media-icon:hover {
  background-color: #d9be02;
}

.product-details {
  padding-top: 34px;
}

.product-details h2 {
  color: #d9be02;
  font-size: 24px;
  margin-bottom: 12px;
}

.product-details h3 {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 16px;
  font-weight: 500;
}

.product-details .product-description p {
  font-weight: 300;
  color: #ffffff;
}

.product-details ul.specifications {
  margin: 0;
  padding-left: 15px;
  color: #ffffff;
  font-weight: 300;
  list-style: none;
}

.product-details ul.specifications span {
  color: #d9be02;
  margin-right: 16px;
}

.product-details ul.specifications li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d9be02;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.product-images img {
  border-radius: 8px;
}

.product-images .main-image img {
  height: 315px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-images .preview-images {
  margin-top: 12px;
}

.product-images .preview-images img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.product-images .preview-images img:not(:last-child) {
  margin-right: 12px;
}

.single-ref-image {
  height: 412px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  cursor: pointer;
}

.single-ref-image:hover {
  opacity: 0.5;
}

.clients img {
  height: 130px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}

.suppliers-logos img {
  height: 130px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}

.suppliers-list {
  background-color: black;
  list-style: none;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.suppliers-list li {
  color: #434343;
  margin-bottom: 16px;
  cursor: pointer;
}

.suppliers-list li:hover {
  opacity: 0.3s;
  color: #d9be02;
}

.suppliers-list li.active {
  color: #d9be02;
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  padding: 32px 111px;
  z-index: 3;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .logo {
  max-width: 200px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 60px;
}

header .logo-container {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
  header {
    display: none;
  }
  header .outer-menu {
    display: none;
  }
}

.outer-menu .inner-menu {
  background-color: #1f1f1f;
  padding: 12px 42px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.outer-menu .inner-menu ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outer-menu .inner-menu ul li {
  margin: 0;
  padding: 0;
}

.outer-menu .inner-menu ul li a {
  color: #ffffff;
}

header.scrolled {
  padding-top: 0;
}

header.scrolled .logo {
  height: 0;
  margin-bottom: 0px;
}

header.scrolled .logo-container {
  height: 0;
}

header.scrolled .inner-menu {
  padding: 22px 52px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  z-index: 33;
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile-menu ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-menu ul li {
  margin-bottom: 20px !important;
}

.mobile-menu ul li a {
  font-size: 20px;
}

.mobile-menu.opened {
  width: 100%;
}

.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 22px;
  display: none;
  z-index: 3;
}

@media screen and (max-width: 992px) {
  .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo-mobile {
  width: 178px;
}

.aw-form-group {
  margin-bottom: 30px;
}

.aw-form-group label {
  display: block;
  opacity: 0.4;
  font-size: var(--para1-size);
  font-weight: 200;
}

.aw-form-group input,
.aw-form-group select,
.aw-form-group textarea {
  background-color: transparent;
  border: none;
  border-bottom: solid 0.3px #ffffff;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  color: #ffffff;
}

.aw-form-group input:focus,
.aw-form-group select:focus,
.aw-form-group textarea:focus {
  opacity: 1;
}

.input1 input,
.input1 select,
.input1 textarea {
  border: none;
  background-color: transparent;
  border-bottom: solid 1px #c6c6c6bd;
  color: #c6c6c6;
  width: 100%;
  margin-bottom: 33px;
  padding-bottom: 5px;
  width: 100%;
}

.input1 input[type="checkbox"] {
  margin: 0;
  display: inline;
  width: unset;
}

footer {
  padding-top: 70px !important;
  color: #ffffff;
}

footer h3 {
  color: #d9be02;
}

footer a {
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 1px;
}

footer a:hover {
  color: #ffffff;
  opacity: 0.5;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer p {
  color: #ffffff;
  margin: 0;
}

footer .part2 a,
footer .part2 p {
  font-weight: 200;
}

footer .part2 a {
  padding: 0 22px;
}

.primary-button {
  font-size: var(--para1-size);
  color: #d9be02;
  display: inline-block;
  padding: 8px 34px;
  border: solid 1px #d9be02;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.primary-button.not-rounded {
  border-radius: 8px;
}

.primary-button:hover {
  background-color: #1f1f1f;
  color: #ffffff;
  border-color: #1f1f1f;
}

.secondary-button {
  font-size: var(--para1-size);
  color: #ffffff;
  display: inline-block;
  padding: 20px 50px;
  background-color: #002367;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
}

.secondary-button.not-rounded {
  border-radius: 8px;
}

.button2 {
  display: inline-block;
  min-width: 350px;
  text-align: center;
  color: white;
  border: solid 1px #d9be02;
  padding: 10px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button2 img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 4px;
}

.button2:hover {
  color: #1f1f1f;
  background-color: #d9be02;
}

.button2:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

@media screen and (max-width: 992px) {
  .button2 {
    width: 100%;
    min-width: unset;
  }
}

.button3 {
  padding: 9px 60px;
  color: #1f1f1f;
  border: solid 1px #d9be02;
  background-color: #d9be02;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button3:hover {
  color: #d9be02;
  background-color: transparent;
}

.home-banner {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-banner h1 {
  color: #ffffff;
  text-align: center;
  max-width: 522px;
  font-size: 49px;
  letter-spacing: 5.88px;
  text-shadow: 0px 2px 7px #0000009d;
}

@media screen and (max-width: 992px) {
  .home-banner h1 {
    font-size: 25px;
  }
}
/*# sourceMappingURL=style.css.map */