.primary-button {
  font-size: $p1S;
  color: $cPrimary;
  display: inline-block;
  padding: 8px 34px;
  border: solid 1px $cPrimary;
  border-radius: 6px;
  transition: 0.3s;
  &.not-rounded {
    border-radius: 8px;
  }
  &:hover {
    background-color: $cDark;
    color: $cWhite;
    border-color: $cDark;
  }
}
.secondary-button {
  font-size: $p1S;
  color: $cWhite;
  display: inline-block;
  padding: 20px 50px;
  background-color: $cSecond;
  border: none;
  text-transform: uppercase;
  border-radius: 30px;
  &.not-rounded {
    border-radius: 8px;
  }
}

.button2 {
  display: inline-block;
  min-width: 350px;

  text-align: center;
  color: white;
  border: solid 1px $cPrimary;
  padding: 10px;
  border-radius: 7px;
  transition: 0.3s;
  img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 4px;
  }
  &:hover {
    color: $cDark;
    img {
      filter: brightness(0.5);
    }
    background-color: $cPrimary;
  }
}

.button3 {
  padding: 9px 60px;
  color: $cDark;
  border: solid 1px $cPrimary;
  background-color: $cPrimary;
  transition: 0.3s;
  &:hover {
    color: $cPrimary;
    background-color: transparent;
  }
}
