/* ========global in all projects */
h1 {
    font-size: $h1S;
}
h2 {
    font-size: $h2S;
}
h3 {
    font-size: $h3S;
}
h4 {
    font-size: $h4S;
}
h5 {
    font-size: $h5S;
}
h6 {
    font-size: $h6S;
}
.fs14 {
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.cursor-pointer {
    cursor: pointer;
}
.lighter {
    opacity: 0.6;
}
.size-16 {
    font-size: 16px;
}
.size-14 {
    font-size: 14px;
}
.c-primary {
    color: $cPrimary !important;
}
.c-secondary {
    color: $cSecond;
}
.c-dark {
    color: $cDark;
}
.c-white {
    color: white !important;
}

*:focus {
    outline: none !important;
    transition: 0.3s;
}
.bold {
    font-weight: bold;
}

.fs16 {
    font-size: 18px;
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    &.big {
        width: 150%;
        left: -67px;
    }
}
body {
    overflow-x: hidden;
}
.bg-white {
    background-color: white;
}
.semiBold {
    font-weight: 600;
}
.lh21 {
    line-height: 21px;
}
.lh18 {
    line-height: 18px;
}
.clean-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: unset !important;
}
.italic,
.text-italic {
    font-style: italic;
}
.mh-100vh {
    min-height: 100vh;
}

.mw {
    --w: 500;
    max-width: calc(var(--w) * 1px);
}
.c-light {
    color: #727272 !important;
}

.padding-top-for-menu {
    padding-top: 120px;
}
.font-light {
    font-weight: 300;
}
/* =======end of global in all projects ================ */
.my-carousel {
    height: 100%;
    overflow: hidden;
    .carousel-inner,
    .carousel-item,
    img {
        height: 100%;
    }
    .carousel-inner img {
        object-fit: cover;
    }
}
.section-title {
    font-size: 32px;
    color: $cDark;
    margin: 0;
    &::after {
        content: "";
        display: block;
        width: 20%;
        height: 1px;
        background-color: $cDark;
        opacity: 0.7;
    }
    @media screen and (max-width: 992px) {
        font-size: 20px;
    }
}

.contact-section {
    .left-contact-side {
        background-image: url("../assets/images/bg-home.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
body {
    color: $cWhite;
}

h1.section-title {
    font-size: 32px;
    text-transform: uppercase;
    @media screen and (max-width: 992px) {
        font-size: 20px;
    }
}
.page-content {
    p {
        color: $cDark;
    }
}
.bg-1 {
    background: radial-gradient(42.92% 50% at 63.97% 50%, #2f3540 0%, #040506 100%);
}
.mygallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 240px;
    gap: 20px;
    grid-template-areas:
        "one one two three"
        "one one four five"
        "7 8 six six"
        "9 10 six six";

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
    .item-1 {
        grid-area: one;
    }
    .item-6 {
        grid-area: six;
    }
    @media screen and (max-width: 992px) {
        grid-template-areas: unset;
        grid-template-columns: 1fr;
        .item-1 {
            grid-area: unset;
        }
        .item-6 {
            grid-area: unset;
        }
    }
}

.aw-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}
.mygallery-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 15px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        transition: 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
    @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
        .grid-item {
            grid-column: unset !important;
        }
    }
    .item-1,
    .item-4,
    .item-5,
    .item-8,
    .item-9 {
        grid-column: span 2;
    }
}
.title-with-span {
    position: relative;
    padding-bottom: 30px;
    span {
        position: absolute;
        bottom: 0;
        display: inline;
        font-size: 18px;
        font-style: italic;
        left: 0;
        font-weight: 400;
        color: $cPrimary;
    }
}
.carousel-banner {
    position: relative;
    height: 470px;
}
.title2 {
    position: relative;
    color: $cPrimary;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: $cPrimary;
        width: 50%;
        height: 1px;
        bottom: 0px;
        left: 0px;
    }
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: inline-block;
    }
    &.cat-list {
        li a {
            padding: 12px 22px;
            display: inline-block;
            color: $cDark;
            opacity: 0.8;
            text-transform: uppercase;
            &.active {
                font-weight: 600;
                opacity: 1;
            }
        }
    }
}
