/* ========global in all projects */
h1 {
  font-size: $h1S;
}
h2 {
  font-size: $h2S;
}
h3 {
  font-size: $h3S;
}
h4 {
  font-size: $h4S;
}
h5 {
  font-size: $h5S;
}
h6 {
  font-size: $h6S;
}
.fs14 {
  font-size: 14px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.lighter {
  opacity: 0.6;
}
.size-16 {
  font-size: 16px;
}
.size-14 {
  font-size: 14px;
}
.c-primary {
  color: $cPrimary !important;
}
.c-secondary {
  color: $cSecond;
}
.c-dark {
  color: $cDark;
}
.c-white {
  color: white !important;
}

*:focus {
  outline: none !important;
  transition: 0.3s;
}
.bold {
  font-weight: bold;
}

.fs16 {
  font-size: 18px;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  &.big {
    width: 150%;
    left: -67px;
  }
}
body {
  overflow-x: hidden;
}
.bg-white {
  background-color: white;
}
.semiBold {
  font-weight: 600;
}
.lh21 {
  line-height: 21px;
}
.lh18 {
  line-height: 18px;
}
.clean-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  box-shadow: unset !important;
}
.italic,
.text-italic {
  font-style: italic;
}
.mh-100vh {
  min-height: 100vh;
}

.mw {
  --w: 500;
  max-width: calc(var(--w) * 1px);
}
.c-light {
  color: #727272 !important;
}

.padding-top-for-menu {
  padding-top: 120px;
}
.font-light {
  font-weight: 300;
}
/* =======end of global in all projects ================ */

body {
  // background-color: $cDark;
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.left-section-title {
  color: $cPrimary;
  font-size: 25px;
  margin: 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 8px;
    left: 15%;
    background-color: $cPrimary;
    border-radius: 50%;
  }
  &::before {
    content: "";
    width: 15%;
    height: 1px;
    margin-right: 32px;
    display: inline-block;
    background-color: $cPrimary;
    transform: translateY(-8.5px);
  }
}

.right-section-title {
  color: $cPrimary;
  font-size: 25px;
  margin: 0;
  position: relative;
  text-align: right;
  padding-right: calc(32px + 15%);
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 8px;
    right: 15%;
    background-color: $cPrimary;
    border-radius: 50%;
  }
  &::after {
    content: "";
    width: 15%;
    height: 1px;
    margin-left: 32px;
    display: inline-block;
    background-color: $cPrimary;
    transform: translateY(-8.5px);
    position: absolute;
    right: 0px;
    display: block;
    top: 22px;
    left: unset;
  }
}

.card5 {
  position: relative;
  overflow: hidden;
  max-width: 357px;
  border-radius: 6px;
  margin: auto;
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
  img {
    transition: 0.3s;
    height: 347px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .details {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px 10px 10px 10px;

    z-index: 3;
    width: 100%;
    padding-top: 110px;
    background: linear-gradient(to bottom, transparent, black);
    h3 {
      color: $cWhite;
      font-size: $p1S;
      margin: 0;
      letter-spacing: 2.38px;
      font-weight: 500;
      padding-right: 6px;
    }
    p {
      margin: 0;
      color: $cWhite;
      font-size: 14px;
    }
    a {
      color: $cPrimary;
      font-size: 14px;
    }
  }
}

.main-owl {
  .owl-nav {
    position: absolute;
    top: 50%;
    width: 115%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
    justify-content: space-between;
    [class*="owl-"] {
      width: 50px;
      height: 50px;
      border: solid 1px $cPrimary !important;
      border-radius: 50%;
      transition: 0.3s;
      &:hover {
        background-color: $cPrimary;
        img {
          filter: brightness(5);
        }
      }
    }
    .owl-next {
      img {
        transform: rotate(180deg);
      }
    }
    @media screen and (max-width: 992px) {
      top: 114%;
      // width: 115%;
      transform: translate(-50%, -50%);
      left: 50%;
      display: flex;
      justify-content: space-between;
      width: unset;
      [class*="owl-"] {
        margin: 0 12px;
      }
    }
  }
}

.secondary-owl {
  @extend .main-owl;
  .owl-nav {
    position: absolute;
    transform: translate(0%, 0%);
    display: flex;
    justify-content: space-between;
    width: unset;
    right: 11px;
    left: unset;
    top: 104%;
    [class*="owl-"] {
      margin: 0 12px;
    }
  }
}

.section {
  padding-top: 70px;
  padding-bottom: 40px;
}
