header {
  position: fixed;
  padding: 32px 111px;
  z-index: 3;
  width: 100%;
  transition: 0.5s;
  .logo {
    max-width: 200px;
    margin-bottom: 20px;
    transition: 0.3s;
    height: 60px;
  }
  .logo-container {
    transition: 0.3s;
  }
  @media screen and (max-width: 992px) {
    .outer-menu {
      display: none;
    }
    display: none;
  }
}
.outer-menu {
  .inner-menu {
    background-color: $cDark;
    padding: 12px 42px;
    box-shadow: 0px 3px 6px #00000029;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      li {
        margin: 0;
        padding: 0;
        a {
          color: $cWhite;
        }
      }
    }
  }
}

header.scrolled {
  // padding: 0;
  padding-top: 0;
  // padding-bottom: 0;
  // background-color: $cDark;
  .logo {
    height: 0;
    margin-bottom: 0px;
  }
  .logo-container {
    height: 0;
  }
  .inner-menu {
    padding: 22px 52px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $cDark;
  z-index: 33;
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  ul {
    justify-content: space-between;
    flex-direction: column;
    li {
      margin-bottom: 20px !important;
      a {
        font-size: 20px;
      }
    }
  }
  &.opened {
    width: 100%;
  }
}
.mobile-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $cDark;
  display: flex;
  justify-content: space-between;
  padding: 12px 22px;
  display: none;
  z-index: 3;

  @media screen and (max-width: 992px) {
    display: flex;
  }
}

.logo-mobile {
  width: 178px;
}
