header {
  position: fixed;
  padding: 32px 111px;
  z-index: 3;
  width: 100%;
  transition: 0.5s;
  .logo {
    max-width: 200px;
    margin-bottom: 20px;
    transition: 0.3s;
    height: 60px;
  }
  .logo-container {
    transition: 0.3s;
  }
}
.outer-menu {
  .inner-menu {
    background-color: $cDark;
    padding: 12px 42px;
    box-shadow: 0px 3px 6px #00000029;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-between;
      li {
        margin: 0;
        padding: 0;
        a {
          color: $cWhite;
        }
      }
    }
  }
}

header.scrolled {
  // padding: 0;
  padding-top: 0;
  // padding-bottom: 0;
  // background-color: $cDark;
  .logo {
    height: 0;
    margin-bottom: 0px;
  }
  .logo-container {
    height: 0;
  }
  .inner-menu {
    padding: 22px 52px;
  }
}
