.home-banner {
    position: relative;
    height: 470px;
}
.banner-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
}
.home-page-carousel-banner {
    @media screen and (max-width: 992px) {
        height: 200px;
    }
}
